<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title></title>
  </head>
  <body style="background-color:beige;">

<div style="width:100vw;height:80px;background-color:black;z-index:900;margin-bottom:100px;">
    <a href="/add/views" style="color:white;text-decoration:none;font-size:20px;margin-top:10px;margin-left:10px;">back</a>
  </div>
 <div class="container-sm mr-3" style="margin-top:-50px;">

<div class="card" style="width: 30rem;margin-left:120px;">
  <div class="card-body">
    <img src="{{img.EmployeeImage.url}}" height=350 width=100 class="card-img-top" alt="..." style="border: 3px solid beige;">
    <p class="card-text">
      <table>
    <tr>
      <td><h5>EmployeeId</h5></td>
      <td><h5>: {{img.EmployeeId}}</h5></td>
    </tr>
     <tr>
      <td><h5>EmployeeName</h5></td>
      <td><h5>: {{img.EmployeeName}}</h5></td>
    </tr>
     <tr>
      <td><h5>EmployeeAddress</h5></td>
      <td><h5>: {{img.EmployeeAddress}}</h5></td>
    </tr>
    <tr>
      <td><h5>EmployeeEmail</h5></td>
      <td><h5>: {{img.EmployeeEmail}}</h5></td>
    </tr>
    <tr>
      <td><h5>EmployeePhoneNumber</h5></td>
      <td><h5>:&nbsp;{{img.EmployeePhoneNumber}}</h5></td>
    </tr>
  </table>

    </p>
  </div>
</div>

 </div>
  </body>
</html>